body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:540px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:41px;
  top:170px;
  width:149px;
  height:30px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u1 {
  position:absolute;
  left:2px;
  top:8px;
  width:145px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:41px;
  top:55px;
  width:200px;
  height:25px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3 {
  position:absolute;
  left:41px;
  top:30px;
  width:62px;
  height:15px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:15px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:41px;
  top:125px;
  width:200px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6 {
  position:absolute;
  left:41px;
  top:100px;
  width:179px;
  height:15px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:15px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:220px;
  top:170px;
  width:149px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:145px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:391px;
  top:170px;
  width:149px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:145px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
.u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
.u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
.u14 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
