body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:250px;
  overflow:hidden;
}
#u34_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:250px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u34_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
.u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
.u37 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u35-2 {
  position:absolute;
  left:0px;
  top:50px;
  width:50px;
  height:50px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
