body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:326px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:41px;
  top:40px;
  width:285px;
  height:37px;
  color:#330099;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  white-space:nowrap;
}
