body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:700px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:650px;
  top:20px;
  width:50px;
  height:50px;
}
.u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
.u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
.u2 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:10px;
  top:130px;
  width:100px;
  height:90px;
}
.u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:130px;
  top:130px;
  width:100px;
  height:30px;
}
.u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:10px;
  top:80px;
  width:100px;
  height:30px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:130px;
  top:80px;
  width:100px;
  height:30px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:10px;
  top:33px;
  width:63px;
  height:37px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:37px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:130px;
  top:33px;
  width:63px;
  height:37px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:37px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
