body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:220px;
  top:10px;
  width:10px;
  height:10px;
}
#u1 {
  position:absolute;
  left:41px;
  top:40px;
  width:259px;
  height:37px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:37px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  white-space:nowrap;
}
