body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
.u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
.u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
.u2 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u0-2 {
  position:absolute;
  left:0px;
  top:50px;
  width:50px;
  height:50px;
}
#u0-3 {
  position:absolute;
  left:0px;
  top:100px;
  width:50px;
  height:50px;
}
#u0-4 {
  position:absolute;
  left:0px;
  top:150px;
  width:50px;
  height:50px;
}
#u0-5 {
  position:absolute;
  left:0px;
  top:200px;
  width:50px;
  height:50px;
}
#u0 {
  position:absolute;
  left:23px;
  top:10px;
  width:50px;
  height:250px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u3_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  position:absolute;
  left:160px;
  top:169px;
  width:140px;
  height:40px;
}
#u4 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
