body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:241px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:220px;
  top:10px;
  width:10px;
  height:10px;
}
#u1 {
  position:absolute;
  left:41px;
  top:170px;
  width:149px;
  height:30px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u2 {
  position:absolute;
  left:2px;
  top:8px;
  width:145px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:41px;
  top:55px;
  width:200px;
  height:25px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4 {
  position:absolute;
  left:41px;
  top:30px;
  width:62px;
  height:15px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:15px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:41px;
  top:125px;
  width:200px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7 {
  position:absolute;
  left:41px;
  top:100px;
  width:179px;
  height:15px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:15px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  white-space:nowrap;
}
